# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

spring-notification-server/*.iml
spring-notification-server/.idea/
spring-notification-server/target/
spring-notification-server/out/

ng4-application/node_modules/

*.iml
.idea/

bin/*.jar

target/

csharp-client-proj/csharp-client-proj/bin
csharp-client-proj/csharp-client-proj/obj
csharp-client-proj/csharp-client-proj.csproj.user
csharp-client-proj/packages

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
